/* General Style */
/*@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);*/

/*colours:
purple: ae14ad;//interaction
teal: 009999;//accent
drk grey:333333;
pale grey:b1b1b1;
white:fdfdfd;
*/
@charset "UTF-8";

html,body { 
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/*because IE doesn't do this*/
header, main, section {
   display:block;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/* For IE 6/7 only*/
.cf {
    *zoom: 1;
}


/**

Main CSS

**/

body { 
	font-family: 'Myriad Pro', Frutiger, Segoe, sans-serif;
    overflow: scroll;
    overflow-x: hidden;
    background-color:#b1b1b1;
    background-image: url("../www-images/svg_skinny_chevron.svg");
}

div#banner{
	position:fixed;
	top:0;
	width:100%;
	height:8vh;
	background-color:#fdfdfd;
	z-index:10;
}

body a,
a p {
	color:#ae14ad;
	text-decoration: none;
}

main {
	margin: 8vh auto 0 auto;
	width:90%;
	position: relative;
	background: rgb(253,253,253); /* The Fallback */
	background-color: rgba(253,253,253,0.85);
	box-shadow: 0px -10px 60px rgba(0,0,0,0.25);
	min-height:75%;
	z-index:0;
	height:auto;
	overflow:auto;
	padding-bottom:2em;
}

div#login,
div.qrcodeFamily {
	margin: auto auto;
	top:20%;
	width:40%;
	height:auto;
	position: relative;
	background: rgb(253,253,253); /* The Fallback */
	background-color: rgba(253,253,253,0.85);
	box-shadow: 0px -10px 60px rgba(0,0,0,0.25);
	z-index:0;
	height:auto;
	overflow:auto;
	padding:2em;
	text-align:center;
}

div.main,
div#cms-display {
	width:100%;
	padding:5vh;
	font-size:4vh;
}
div#cms-display{
	width: 90%;
	margin: 0 auto;
	overflow:auto;
}

div#exhibitionContainer{
	overflow:auto;
	position: relative;
	clear:right;
}

div.titleLeft{
	width:30%;
	padding:2vw;
	padding-bottom:5vw;
	background-image: url("../www-images/svg_short_chevron_teal.svg");
    background-repeat: no-repeat;
    background-position: right bottom; 
    background-size: 4vw;
    float:left;
}
div.contentRight{
	width:70%;
	padding:2vw;
	float:right;
}

div.contentMiddle{
	float:left;
	text-align:center;
	width:70%;
	position:absolute;
	bottom:25%;
}

div.threeColRight{
	float:right;
}

h1{
	font-weight:bold;
	font-size:4vw;
	color:#009999;
	margin-bottom:15px;
}
h2{
	font-size:4vw;
}
h3{
	font-size:2vw;
}

p {
	color:#333;
	font-size:1.5vw;
}
div.main p,
div.contentRight p {
	margin-bottom:3vh;
}

span.accent{
	color:#009999;
}

address {
	padding:2vw;
	font-size:2vw;
	text-align: right;
	font-style:normal;
	font-weight:bold;
}

/*hr{
	clear:both;
	border:1.5px solid #009999;
	margin:2em 0;
}*/

/**

END MAIN CSS

**/



/* Home page 'hero' image*/
header.zoom {
	overflow: hidden;
	padding-bottom: 55%;
    background-color:#b1b1b1;
    height:100%;

	  display: flex;
	  flex-direction: column;
	  flex-wrap: wrap;
	  align-items: flex-start;
}

header.zoom img {
	position: fixed;
	top: 0%;
	left: 50%;
	transform: translateX(-50%);
	width:100%;
	object-fit: cover;

	-webkit-filter:brightness(130%)  blur(10px);
	-o-filter:brightness(130%)  blur(10px);
	filter:brightness(130%) blur(10px);
	filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius='10');
}
/*End home page 'hero' image*/

/**
Index overlay
**/
section#overlay{
	z-index:14;
	position:absolute;
	top:0;
	left:0;
    width:100%;
    height:100%;
}

h5#designers{
	position:absolute;
	left:10vh;
	top:10vh;
}

h5#exhibition{
	position:absolute;
	right:10vh;
	bottom:10vh;
}

h5.main_link {
	width:auto;
	font-size:4vw;
	display:block;
}

h5.main_link:first-of-type:before {
  content: url("../www-images/svg_short_chevron_purple_left.svg");
  margin-right:0.5em;
}

h5.main_link:last-of-type:after {
  content: url("../www-images/svg_short_chevron_purple.svg");
  margin-left:0.5em;
}

h5.main_link:first-of-type:before,
h5.main_link:last-of-type:after {
	display:inline-block;
	position: relative;
	width:3vw;
	vertical-align: middle;
}

article a:link,
article a:visited {
	text-decoration:none;
}

article a:active {
	/**moment link clicked (like a down state)**/
	color:white;
}


section#box {
	display:flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	z-index: 1;
}

.layer {
	position: absolute;
	display: block;

	-webkit-transition: margin 2s; /* Safari */
    transition: margin 2s;
	-webkit-transition: margin 2s; /* Safari */
    transition: margin 2s;
}

.layer img {
	height:15vw;
}

#l1 {
	z-index: 6;
	/*margin-left:-25vw;*/
	left:20%;
}

#l2 {
	z-index: 8;
	/*margin-left:-10vw;*/
	left:32%;
}

#l3 {
	z-index: 10;
	/*margin-left:5vw;*/
	left:45%;
}

#l4 {
	z-index: 8;
	/*margin-left:25vw;*/
	left:58%;
}
/**end index overlay**/



/** HAMBURGER MENU **/
div.menucontainer {
    display: inline-block;
    cursor: pointer;
    position:fixed;
    top:1.5vh;
    right:1.5vh;
    z-index:21;
    padding:0 6px;
	background-color: rgba(253,253,253,0.45);
}

div#bar1, div#bar2, div#bar3 {
    width: 35px;
    height: 5px;
    background-color: #ae14ad;
    margin: 6px 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

/**animate into X (close) on click**/
.change #bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change #bar2 {opacity: 0;}

.change #bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
/**END HAMBURGER MENU**/

div#map{
	clear:both;
	padding-top:2vh;
	width:100%;
	height:100px;
	background-color:#fdfdfd;
}



/** from Tiago's code, built by Felicia & Tiago
modified by Felicia **/

div.designerHolder,
div.teamHolder {
	height:auto;
	overflow:auto;
	border-bottom:2px solid #009999;
	margin-bottom:3vw;
}

div.designerHolder:last-of-type,
div.teamHolder:last-of-type {
	border-bottom:none;
}

div.teamHolder:first-of-type {
	border-top:2px solid #009999;
	margin-top:3vw;
	padding-top:3vw;
}

div.designerHolder ul,
div.teamHolder ul{
	overflow:inherit;
    list-style-type: none;
    clear:both;
}

 ul#designerDetails li,
 ul#teamMemberDetails li {
    padding: 0 1.5vw 0 1.5vw;
    border-right:2px solid black;
}

ul#designerDetails li:last-of-type,
ul#teamMemberDetails li:last-of-type {
    border:none;
}

div.designerHolder li,
div.teamHolder li {
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
}

div.designerHolder p{
    clear:both;
    width:95%;
}

div#honeycomb,
div.teamHolder img{ 
   /* position: relative;*/
    overflow: hidden;
}

div.teamHolder img {
	clear:left;
	float:left;
}
div.teamHolder p {
	margin:1em;
}

/*
#honeycomb img,
div.designerPictureRole ul li:first-of-type img,
div.teamHolder img{
    width:200px;
    height: 200px;
    clip-path: url(#hexagon);
    -webkit-clip-path: polygon(25% 93.4%, 0% 50%, 25% 6.8%, 75% 6.8%, 100% 50%, 75% 93.4%);
    clip-path: polygon(25% 93.4%, 0% 50%, 25% 6.8%, 75% 6.8%, 100% 50%, 75% 93.4%);
}

#chevron img,
div.designerPictureRole ul li img{
    width:150px;
    height: 200px;
    clip-path: url(#chevron);
    -webkit-clip-path: polygon(0% 6.8%, 68% 6.8%, 100% 50%, 68% 93.4%, 0% 93.4%, 32% 50%);
    clip-path: polygon(0% 6.8%, 68% 6.8%, 100% 50%, 68% 93.4%, 0% 93.4%, 32% 50%);
	border:3px solid #ae14ad;
}*/

/**hex & chev CSS design**/
svg a:hover { 
	cursor: pointer;
}
svg a {
	transition: .3s;
}
svg a:hover { 
	opacity: .5;
}
svg { 
	width: 90%;
}
svg polygon, 
svg use {
	stroke: #ae14ad;	
	stroke-width: 3;
}
text {
	font-family: 'Myriad Pro', Frutiger, Segoe, sans-serif;
	font-size: 7px;
	fill: white;
	text-shadow: 1px 1px 5px black;
	opacity:80%;
}
svg a:hover text {
	fill: #ae14ad;
}

/**For the login**/
.designerBioImageHolder svg,
.teamHolder svg {
	float:left;
}

.teamHolder svg {
	margin:1em;
	width:30%;
}



/**MAP CSS**/

div#map {
	height:405px;
	border:3px solid #ae14ad;
	margin:4em 0 1em 0;
	clear:both;
}

/**LINK CSS**/
a img.link {
	border:3px solid #ae14ad;
	float:left;
	width:40%;
	height:auto;
	margin:0 5%;
}


he
/**
	RESPONSIVE CSS

**/
@media only screen and (max-device-width:800px) {
    div#login,
    div.qrcodeFamily {
        width:100%;
        height:100%;
        top:8vh;
        padding-top:2vh;
    }


	div#cms-display{
		width: 100%;
	}

   /* [class*="col-"] {
        width: 100%;
    }*/
}